#################
# boot settings #
#################

# boot options
# floppy, harddisk, cdrom, network
# if nothing is set, qemu boots from harddisk
#VM_BOOT_DEV="cdrom"

# cdrom
# path to the image file or cd
#VM_CDROM="/path/to/iso"

#############################
# guest settings (required) #
#############################

# guest architecture, defaults to host arch
#VM_ARCH="x86_64"

# using kernel+initrd
# VM_KERNEL & VM_INITRD must be set to use this feature
# VM_APPEND is optional
#VM_KERNEL=""
#VM_INITRD=""
#VM_APPEND=""

# host user to start guest with
#VM_USER="nobody"

# kill wait time in seconds (defaults to 80 sec)
#VM_KILL_WAIT="80"

###################
# guest features  #
###################

# Default Value | Description
# ON  | daemonize
#VM_ENABLE_DAEMONIZE="true"
# ON  | virtio serial (clipboard sharing)
#VM_ENABLE_VIRTSERIAL="true"
# ON  | enable usb support
#VM_ENABLE_USB="true"
# OFF | qemu-guest-agent
#VM_ENABLE_QGA="false"
# OFF | enable sdl
#VM_ENABLE_SDL="false"
# OFF | enable opengl (only with SDL/virtio)
#VM_ENABLE_GL="false"
# OFF | enable snapshot mode
#VM_ENABLE_SNAPSHOTMODE="false"
# OFF | enable experimental in kernel accelerator
#VM_ENABLE_VHOST="false"
# OFF | enable qemu machine protocol
#VM_ENABLE_QMP="false"

#############################
# guest settings (optional) #
#############################

### guest system ###
# Default Value | description
# kvm   | select accelerator (kvm|xen|hax|...) see: qemu-system-x86_64 -accel ?
#VM_ACCEL="kvm"
# 512   | guest memory in mb
VM_MEMORY="4096"
# 1     | number of cores
VM_SMP="cores=4,threads=1,sockets=1"
# de    | keyboard layout language
VM_LC="de"
# pc    | machine typ	see: qemu-system-x86_64 -machine ?)
VM_MACHINE="q35"
# qxl   | video card type: (std|cirrus|vmware|qxl|xenfb|tcx|cg3|virtio|none)
VM_VGA="virtio"
# none  | display mode (spice-app|gtk|sdl|none)
#VM_DISPLAY_MODE="none"
# host  | guest cpu settings see: qemu-system-x86_64 -cpu ?
# examples: qemu64,+ssse3,+sse4.1,+sse4.2
# "host" passes all available features to the guest
# windows guests="host,kvm=off,hv_relaxed,hv_spinlocks=0x1fff,hv_vapic,hv_time"
#VM_CPU="host"
# 4     | number of usb redirctions ports
#VM_USB_REDIR="4"
# 4     | number of pcie ports
#VM_PCIE_PORTS="4"

### remote access ###
## enable: true|false
## password: default: empty
## listening ip: default: host ip
## listening port: default port 5800/5900
#
# enable;password;listening_ip;listening_port
#
VM_REMOTE_ACCESS_SPICE="true"
#VM_REMOTE_ACCESS_VNC="false"

### guest network ###
## network typ: user|tap|bridge (required)
## mac address: default: random (base: 56:6E:17:xx:xx:xx)
## network-driver: e1000|rtl8139[DEFAULT]|virtio-net-pci
##	* qemu-system-ARCH -net nic,model=? shows available devices
## bridge interface: required for tap interfaces
## tap interface: use specific tap interface (default auto generated)
#
#-- multiple interfaces are possible: VM_NETWORK1|VM_NETWORK2|... --#
#
# network_typ;mac_address;network_driver;bridge_dev;tap_interface
#
VM_NETWORK="bridge;;virtio-net-pci;br0"

### guest harddisk ###
## harddisk: path to image (required)
## interface: virtio|ide[DEFAULT]|scsi
## cache setting: writethrough[DEFAULT]|writeback|none|unsafe
## asynchronous IO (AIO) setting: threads[DEFAULT]|native
#
#-- multiple harddisks are possible: VM_HARDDISK1|VMHARDDISK2|... --#
#
# harddisk;interface;cache;aio
#
VM_HARDDISK="/path/to/image"

### guest 9p filesystem sharing ###
## mount_tag: any name (required)
## path: path which should be avaiable (required)
## security mode: mapped|passthrough|none[DEFAULT]
## readonly mode: on|off[DEFAULT]
#
#-- multiple 9p shares are possible: VM_9P_SHARE1|VM_9P_SHARE2|... --#
#
# mount_tag;path;security_mode;readonly
#
#VM_9P_SHARE="name;/path/to/share;secmode"

### guest sound support ###
## audiodev: sdl[DEFAULT]|alsa|oss|none
##  see: qemu-system-x64 -audiohelp for supported audiodevs
## device: ich9-intel-hda[DEFAULT]|sb16|ac97|...
##  see: qemu-system-x64 -device for suppored devices
#
#-- multiple devices are possible: VM_AUDIO1|VM_AUDIO2|... --#
#
# audiodev;device
#
#VM_AUDIO="sdl;ich9-intel-hda"

### guest devices
## for a list of all possible devices see: qemu-system-x86_64 -device ?
#
#-- multiple devices are possible: VM_DEVICES1|VM_DEVICES2|... --#
#
#example: --device usb-tablet --device usb-mouse
#
VM_DEVICES="--device usb-tablet"
