##################
# boot settings #
#################

# boot options
# floppy, harddisk, cdrom, network
# if nothing is set, qemu boots from harddisk
#VM_BOOT_DEV="cdrom"

# cdrom
# path to the image file or cd
#VM_CDROM="/path/to/iso"

#############################
# guest settings (required) #
#############################

# Guest architecture, defaults to host arch
#VM_ARCH="x86_64"

# using kernel+initrd
# VM_KERNEL & VM_INITRD must be set to use this feature
# VM_APPEND is optional
#VM_KERNEL=""
#VM_INITRD=""
#VM_APPEND=""

# host bridge device (required for network typ tap)
BRDEV="virbr0"

# host user to start guest with
VM_USER="kvm"

# kill wait time in seconds (defaults to 80 sec)
#VM_KILL_WAIT="20"

###################
# guest features  #
###################

# snapshot mode
VM_ENABLE_SNAPSHOTMODE="false"
# virtio serial (clipboard sharing)
VM_ENABLE_VIRTSERIAL="true"
# daemonize
VM_ENABLE_DAEMONIZE="true"
# qemu-guest-agent
VM_ENABLE_QGA="false"
# kvm
VM_ENABLE_KVM="true"
# enable sdl
VM_ENABLE_SDL="false"

#############################
# guest settings (optional) #
#############################

### guest system ###
# memory
VM_MEMORY="2048"
# number of cores
VM_SMP="2"
# language
VM_LC="de"
# guest cpu settings
# examples: qemu64,+ssse3,+sse4.1,+sse4.2
# "host" passes all available features to the guest
VM_CPU="host"
# machine typ (check qemu-system-x86_64 --machine ?)
VM_MACHINE="q35"

### remote access ###
## protocol: spice|vnc|none (required)
## listening ip: default: host ip
## listening port: default port 5800+
#
VM_REMOTE_ACCESS_SPICE="pw;ip;port"
VM_REMOTE_ACCESS_VNC="pw;ip;port"
# protocol;ip;port
VM_REMOTE_ACCESS="spice;;"
# password (only works for spice)
VM_REMOTE_ACCESS_PW=""

### guest network ###
## network typ: user/tap (required)
## mac address: default: random
## network-driver: e1000|rtl8139[DEFAULT]|virtio-net-pci
##	* qemu-system-ARCH -net nic,model=? shows available devices
#
#-- multiple interfaces are possible --#
#
# network_typ;mac_address;network_driver
VM_NETWORK="tap;;virtio-net-pci"

### guest harddisk ###
## harddisk: path to image (required)
## cache settings: writethrough[DEFAULT]|writeback|none|unsafe 
## storage settings: virtio|ide[DEFAULT]|scsi
## Asynchronous IO (AIO) settings: threads[DEFAULT]|native
#
#-- multiple harddisks are possible --#
#
# harddisk;interface;cache;aio
VM_HARDDISK="/path/to/image;ide;;threads"

### guest hardware settings ###
# usb devices:
# -usbdevice mouse or -usbdevice tablet
VM_USB="-usbdevice tablet"

# display type: (only one can be choosed)
# std|cirrus|vmware|qxl[DEFAULT]|xenfb|tcx|cg3|virtio|none
VM_DISPLAY="qxl"

### 9p filesystem sharing
## mount_tag: any name (required)
## path: path which should be avaiable (required)
## security mode: default none
#
#-- multiple 9p shares are possible --#
#
# mount_tag;path;security_mode
#VM_9P_SHARE="name;/path/for/guest;secmode"

### usb redir devices
## number of usb redir devices
#
#VM_USB_REDIR="1"

### sound (more than one can be choosed) (windows 7 does not work with sb16)
## pcspk|sb16|ac97|es1370|hda or sb16,ac97 or all (enable all)
#VM_AUDIO="sb16"

### other devices
## for a list of all possible devices: qemu -device ?
#VM_OTHERS=""